.gallery{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(22.5vw, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin-top:200px;
    margin-bottom:50px;
}

@media (max-width:1024px){
    .gallery{
        grid-template-columns: repeat(3, minmax(30vw, 1fr));
    }
}

@media (max-width:720px){
    .gallery{
        grid-template-columns: repeat(2, minmax(45vw, 1fr));
    }
}

@media (max-width:720px){
    .gallery{
        grid-template-columns: repeat(1, minmax(90vw, 1fr));
    }
}

.gallery__element{
    background-color: aquamarine;
    width: 22.5vw;
    height: 22.5vw;
    transition: transform .2s;
}

@media (max-width:1024px){
    .gallery__element{
       width: 30vw;
       height: 30vw;
    }
}

@media (max-width:720px){
    .gallery__element{
       width: 45vw;
       height: 45vw;
    }
}

@media (max-width:720px){
    .gallery__element{
       width: 90vw;
       height: 90vw;
    }
}

.gallery__element:nth-child(1){
    background: url("images/gallery/1.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(2){
    background: url("images/gallery/2.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(3){
    background: url("images/gallery/3.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(4){
    background: url("images/gallery/4.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(5){
    background: url("images/gallery/5.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(6){
    background: url("images/gallery/6.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(7){
    background: url("images/gallery/7.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:nth-child(8){
    background: url("images/gallery/8.jpg");
    background-size: cover;
    background-position: center center;
}

.gallery__element:hover{
    transform: scale(1.1);
}