.head{
    padding: 0 5vw;
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/main/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    text-align: center;
    position: relative;
}

@media (max-width:415px){
    .head{
        height: 100vh;
    }
}

@media (max-width:720px){
    .head{
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/main/background_mobile.png");
    }
}

.head__header{
    font-family: 'Source Sans Pro';
    font-size: 55px;
    font-weight: 900;
    width:50%;
    text-transform: capitalize;
}

@media (max-width:1024px){
    .head__header{
        font-size: 35px;
    }
}

@media (max-width:720px){
    .head__header{
        width:90%;
    }
}

@media (max-width:430px){
    .head__header{
        width: 95%;
        margin-top: 22vh;
        font-size: 40px;
    }
}

@media (max-width:400px){
    .head__header{
        width: 95%;
        margin-top: 20vh;
        font-size: 35px;
    }
}

.head__description{
    font-size: 20px;
    line-height: 35px;
    width: 40%;
}

@media (max-width:1024px){
    .head__description{
        font-size: 17px;
    }
}

@media (max-width:720px){
    .head__description{
        font-size: 17px;
        line-height: 20px;
        width: 70%;
    }
}

@media (max-width:415px){
    .head__description{
        font-size: 15px;
        width: 85%;
    }
}


.head__buttons--button{
    width: 150px;
    border: 3px solid #fb414e;
    text-decoration: none;
    color: white;
    padding: 10px;
    background: transparent;
    font-size: 1.1em;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width:1024px){
    .head__buttons--button{
        font-size: 1em;
    }
}

@media (max-width:415px){
    .head__buttons--button{
        font-size: 1em;
        width:30vw;
        height: 12vw;
        padding: 0;
    }
}

.head__buttons--button:first-child{
    background: #fb414e;
}