.services{
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:1024px){
    .services{
        width:80vw;
    }
}

@media (max-width:415px){
    .services{
        width:90vw;
    }
}

.services__head{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.services__head--pre{
    text-transform: uppercase;
    color: #fb424f;
}

@media (max-width:1024px){
    .services__head--pre{
        font-size: .9em;
    }
}

.services__head--header{
    font-size: 3.3em;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin:5px 0 15px 0;
}

@media (max-width:415px){
    .services__head--header{
        font-size: 3em;
    }
}

.services__head--header::after{
    content: " Visual Perfection";
    color: #fb424f;
}

.services__head--description{
    width:60%;
    text-align: center;
    font-size: .9em;
    color: #a7a7a7;
}

@media (max-width:415px){
    .services__head--description{
        width: 80%;
        font-size: 1.1em;
        line-height: 1.6em;
    }
}

.services__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 90px;
    margin-top: 100px;
}

@media (max-width: 720px){
    .services__list{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 415px){
    .services__list{
        grid-template-columns: repeat(1,1fr);
    }
}

.services__list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__list__item--header{
    font-size: 1.7em;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 28px 0;
    color: #010101;
}

.services__list__item--description{
    text-align: center;
    font-size: .9em;
    padding:0 15%;
}
