.tiles{
    width: 70vw;
    position: relative;
    top: -70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

@media (max-width:1024px){
    .tiles{
        width: 90vw;
        top: -40px;
    }
}

@media (max-width:720px){
    .tiles{
        flex-direction: column;
    }
}

.tiles__file{
    background: #202b30;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 50px 60px ;
    color: white;
    transition: background-color .4s;
}

@media (max-width:1024px){
    .tiles__file{
        padding: 35px 45px;
    }
}

@media (max-width:720px){
    .tiles__file{
        width: 90%;
        margin: 10px auto;
    }
}

.tiles__file:hover{
    background-color: #fb414e;
}

.tiles__file__image{
    width: 60px;
    margin: 20px 0;
}

.tiles__file--header{
    text-transform: capitalize;
}

.tiles__file--line{
    width: 50px;
    margin: 0;
    border: 1px solid white;
}